.accordion {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
    margin-top: 15px;
    opacity: 0.75;
}

.accordionSummary {
    border-bottom: 1px solid white !important;
}

.accordionDetails {
    padding: 0 !important;
}

.accordionActions {
    justify-content: center !important;
}

.containerBox {
    display: flex !important;
    flex-direction: row !important;
    background-color: black !important;
    height: 200px !important;
}

.childBox {
    flex: 1 !important;
}

.datePicker {
    margin-right: 15px !important;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: auto;
    width: 100px;
}

.fab {
    position: fixed !important;
    bottom: 16px !important;
    right: 16px !important;
}

.filterIcon {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.gridContainer {
    margin-top: 15px !important;
}

.gridItem {
    min-width: 280px;
}

.paginationBox {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    margin: 10px !important;
}

@media screen and (max-width: 1150px) {
    .gridItem {
        min-width: 190px !important;
    }
}