.h1 {
    margin: 0;
}

.dateBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componentBox {
    margin-left: auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    gap: 8px !important;
}

.Button {
    padding: 4px 5px !important;
    font-size: 18px !important;
}

.mobileTimePicker {
    display: none !important;
}